In [ ]:
#Tweet çekebilmek için gerekli olan kütüphane
#Bu kütüphane google colab'in içinde varsayılan olarak yüklü olmadığı için elle yüklüyoruz
!pip install -q snscrape

In [ ]:
!pip show snscrape

Name: snscrape
Version: 0.3.4
Summary: A social networking service scraper
Home-page: https://github.com/JustAnotherArchivist/snscrape
Author: JustAnotherArchivist
Author-email: UNKNOWN
License: UNKNOWN
Location: /usr/local/lib/python3.7/dist-packages
Requires: beautifulsoup4, requests, lxml
Required-by:

In [ ]:
#os, pyton cli komutlarını calistirmaya yarayan bir kütüphane.
import os
import pandas as pd

In [ ]:
#Aranacak kelime ve tarih parametreleri
tweet_sayisi = 100000
aranan_kelime = "ekonomi"
aciklama_sonrası_baslangic = "2021-11-20"
aciklama_sonrası_bitis = "2021-12-21"
dil = 'tr'

In [ ]:
#snscrape komut stringi
extracted_tweets = "snscrape --format '{content!r}'"+ f" --max-results {tweet_sayisi} --since {aciklama_sonrası_baslangic} twitter-search '{aranan_kelime} lang:{dil} until:{aciklama_sonrası_bitis}' > aciklama_sonrasi.txt"

os.system(extracted_tweets)
if os.stat("aciklama_sonrasi.txt").st_size == 0:
  print('No Tweets found')
else:
  df = pd.read_csv('aciklama_sonrasi.txt', names=['content'])

In [ ]:
df.shape

(99945, 1)

In [ ]:
df.head()

                                             content
0               '@nasipetme ekonomi ve domuz eti???'
1  ülkemizde hükümete ayar vermek için kirli oyun...
2  '@MetinUca Katarın arka bahçesi olduk artık. Ü...
3  MÜSİAD'dan hükümetin ekonomi politikasına dest...
4  '@msarikaya6 @FatmaSahin Yeni ekonomi modelini...

In [ ]:
df.tail()

                                                 content
99940  'siyasi görüşüm ektedir. \nEkonomi Çözümleri -...
99941  'Yine pamuk gibi olduk… Neyse ekonomi tweet’le...
99942  '@dalebin Yalanlar siyasi görüşünde olanlarda ...
99943  'Ekonomi uçacak demişlerdi. Gerçekten buhar ol...
99944  '@SibelAkmanTR Öyle üst perdeden slogan atarak...

In [ ]:
tweet_sayisi = 100000
aranan_kelime = "ekonomi"
aciklama_öncesi_baslangic = "2021-10-10"
aciklama_öncesi_bitis = "2021-11-15"
dil = 'tr'

In [ ]:
#snscrape komut stringi
extracted_tweets = "snscrape --format '{content!r}'"+ f" --max-results {tweet_sayisi} --since {aciklama_öncesi_baslangic} twitter-search '{aranan_kelime} lang:{dil} until:{aciklama_öncesi_bitis}' > aciklama_öncesi.txt"

os.system(extracted_tweets)
if os.stat("aciklama_öncesi.txt").st_size == 0:
  print('No Tweets found')
else:
  df2 = pd.read_csv('aciklama_öncesi.txt', names=['content'])

In [ ]:
df2.shape

(99909, 1)

In [ ]:
df2.head()

                                             content
0                       'Ayda 1 lira. Ekonomi tavan'
1  '@enginser @TebernKireci1 @guray_orcun Siz üni...
2  'Ekonomi kitabını yazmaya başladığında dolar 3...
3  '@mustafademircak @RTErdogan ekonomi bilimi bu...
4   'Pele çıksa dese ki futbolun kitabını ben yazdım

In [ ]:
df2.tail()

                                                 content
99904  Kılıçdaroğlu'nun Tehdit eden açıklamaları\nMer...
99905  'Ekonomi şahlanıyor elhamdulillah https://t.co...
99906  'Ekonomi kötüyse bunda referandumla partili cb...
99907  '3 cümleyle çok komik bir fıkra anlatın.👇\n\nB...
99908  'Sinan Akçıl: Burcu Kıratlıdan Çocuk İstiyorum...